<% if params[:controller] == 'pages' %>
  <div class="well">
    <h3>Location Info</h3>
    <ul>
      <li>The Book Store</li>
      <li>District 12, Ho Chi Minh City</li>
      <li>Nhon Khanh, An Nhon, Binh Dinh</li>
      <li>Phone: 097.242.6820</li>
      <li>Email: vietleuit@gmail.com</li>
    </ul>
  </div>
<% end %>
