/* =========================== Import Bootstrap ========================*/
@import "bootstrap-sprockets";
@import "bootstrap";

@import "toastr";

/* Style for navigation */
.navbar-default {
  background-color: #2ecc71 !important;
  border-color: #2ecc71 !important;
}

.white-link {
  color: #fff !important;
}
/* ==================================================================== */

/* =======================Style for Main Elements =====================*/

body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #666;
}

header, footer {
  background-color: #333;
  color: #fff;
}

header {
  height: 80px;
  margin-bottom: 20px;
}

footer {
  height: 60px;
  margin-top: 412px;
  text-align: center;
  padding-top: 20px;
}
/* ==================================================================== */

/* =======================Style for Show All Book =====================*/

#books-index {
  text-align: center;
}

#books-index img {
  width: 100%;
  padding: 3px;
  border: 1px solid #ccc;
  height: 250px;
}

#books-index h4 {
  height: 70px;
}

#books-index .btn {
  display: block;
  margin-top: 20px;
}
/* ==================================================================== */

/* =====================Style for Show Detail Book ====================*/


#books-show h2, #books-show h2 a {
  background-color: #f4f4f4;
  padding: 10px;
}

.books-show-left {
  float: left;
  width: 40%;
}

.books-show-right {
  float: left;
  width: 60%;
  margin-top: 10px;
  padding-left: 100px;
}

#books-show .btn {
  margin: 5px 0 0 25px;
}

#books-show p {
  text-align: justify;
}
/* ==================================================================== */

.table-hover {
  background-color: #2ecc71 !important;
}

.table {
  width: 80% !important;
}

thead {
  color: #fff;
}
/* ==================================================================== */

// #books-show h2 a:link,
// #books-show h2 a:visited {
//   text-decoration: none;
//   font-size: 18px;
// }

.category-show img {
  width: 100%;
}


